.chip {
  display: inline-block;
  padding: 4px 8px;
  border-radius: 4px;
  margin: 2px;
  font-size: 14px;
  text-align: center;
  font-family:
    'ProximaNova', 'proxima-nova', 'Helvetica Neue', 'Roboto', sans-serif !important;
  color: white;
  line-height: 1.4;
}

.stat-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  gap: 1rem;
}

.chip-sub {
  color: black;
  background-color: white;
}

.public-chip {
  background-color: var(--blue-600);
}

.public-chip-sub {
  background-color: #0468b134;
}

.private-chip {
  background-color: #02a38a;
}

.private-chip-sub {
  background-color: #02a38b34;
}

.inffs-chip {
  background-color: #e78625;
}

.academy-chip {
  background-color: #757af0;
}

.biofin-chip {
  background-color: #e0529e;
}
